

.Carousel {
    max-width: 370px;
    min-width: 370px;

    max-height: 225px;
    min-height: 225px;
}

.Carousel {
    border-style: solid;
    position: relative;

    border-top-left-radius: 5px;
    border-top-right-radius: 5px;

    margin: 0px;
    padding: 0px;
    border: 0px;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    overflow: hidden;
}

.Slide {
    border: 0px;
    top: 0px;
    min-width: 100%;
    transition: .5s;
    overflow: hidden;
}

.CarouselImage {
    width: 100%;
    height: auto;
}

