.Carousel {
    order: 5;
    background-color: rgb(255, 251, 242);
}

.Carousel {
    max-width: 370px;
    min-width: 370px;

    max-height: 300px;
    min-height: 300px;
}

.Carousel {
    border-style: solid;
    border-color: rgb(218, 217, 215);
    border-width: 1px;

    border-top-left-radius: 5px;
    border-top-right-radius: 5px;

    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    overflow: hidden;
}

.Slide {
    position: relative;
    border: 1px solid blue;
    min-width: 100%;
    transition: .5s;
    overflow: hidden;
}

.CarouselImage {
    width: 100%;
    height: auto;
}

.CarouselBtnContainer {
    position: absolute;
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 368px;
}

#goLeft {
    border: none;
    background: none;
    width: 10px;
    height:20px;
    margin-left: 5px;
}

#goLeft:hover {
    opacity: 0.5;
}

#goRight {
    border: none;
    background: none;
    width: 10px;
    height:20px;
    margin-right: 5px;
}

#goRight:hover {
    opacity: 0.5;
}