.App {
    text-align: center;
}

.icon {
    width: auto;
    height: 20px;
}

.test-border {
    border: 1px solid orange;
}

.full-height {
    height: 100vh;
}

.App-logo {
    height: 40vmin;
}

.App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.App-link {
    color: #09d3ac;
}

.mobile {
    width: 500px;
}
