.Card {
    background-color: rgb(46, 42, 36);
}

.Card {
    max-width: 370px;
    min-width: 370px;

    max-height: 480px;
    min-height: 480px;
    margin: 5px;
}

.Card {
    border-style: solid;
    border-width: 0px;
    box-shadow: 1px 2px 5px #111110;

    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}